/*  Reset:Begin */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0px;padding:0px;}input,select,a img{vertical-align:middle;}a {text-decoration:none;}
img{border:none;}a{cursor:pointer;}.clear{clear:both;}p{margin-bottom:15px;}ul{list-style-type:none;}
/*  Reset:End */
/*  Global Text Styling:Begin */
h1 { }
h2 { }
h3 { }
.red {color:#bb0056; }
.error {
    border: 1px solid #bb0056;
}
.green {color:#008000; }
.highlight {background:#FFFF80; }
.divider {border-bottom:1px solid #cd8098;  margin: 30px 0px;}
/*  Global Text Styling:End */
/*  Global Structure:Begin */
body { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:21px; color:#000; text-align:center;}
.header-alert {background: #b60050; color: #fff; font-size: 16px; padding: 25px 0px; display: none;}
.safe-purchase-badge {position: fixed; left: 0px; bottom: 0px; width: 145px; height: 100px; background: url('../img/safe-purchase-badge.png') no-repeat; z-index:900; display: none;}
.wrapper {position:relative; width:1001px; margin:0 auto; text-align:left; }

.billing .index-block-01 {position:relative; height: 670px; background:url('../img/index_01.jpg') top center no-repeat;}
.billing .index-block-02 {position:relative; height: 210px; background:url('../img/index_02.jpg') top center no-repeat;}
.billing .index-block-03 {position:relative; height: 676px; background:url('../img/index_03.jpg') top center no-repeat;}
.billing .index-block-04 {position:relative; height: 678px; background:url('../img/index_04.jpg') top center no-repeat;}
.billing .index-block-05 {position:relative; height: 611px; background:url('../img/index_05.jpg') top center no-repeat;}
.billing .index-block-06 {position:relative; height: 563px; background:url('../img/index_06.jpg') top center no-repeat;}

.billing .index-block-01-button {position: absolute; top: 550px; left: 60px;}
.billing .index-block-02-content {text-align: center; padding: 40px; color: #cd899e; font-size: 18px;}
.billing .video-container {position: absolute; top: 120px; left:30px; width: 490px; height: 276px;}
.billing .index-block-03-content {position: absolute; width: 490px; top: 420px; left:30px;}
.billing .index-block-03-button {position: absolute; top: 510px; right: 60px;}
.billing .index-block-04-content {position: absolute; width: 350px; top: 160px; right:20px;}
.billing .index-block-05-content {position: absolute; width: 480px; top: 190px; right:25px;}
.billing .form-totals {position: relative; top: 13px; left: 13px; width: 600px; }
.billing .product-price {position: absolute; top: 200px; right: 35px;}
.billing .summary-titles {position: absolute; top: 330px; left: 40px; line-height: 32px;}
.billing .summary-totals {position: absolute; top: 330px; right: 35px; line-height: 32px; text-align: right;}

.billing .bottle-shot {position: absolute; top: 450px; left: -45px;}

/*  Index Form:Begin */
.billing .index-form-container {position:absolute; top:240px; right:55px; width:300px; padding:10px;  z-index:999;}
.billing .form-title {margin:10px auto; padding-bottom:10px; border-bottom:1px dotted #959595; }
.billing .form-element { margin-bottom:2px; }
.billing .form-element label {display:block; float:left; position:relative; top:2px; width:35%!important; text-align:right; margin-right:10px;}
.billing .form-input-full { width:100%!important; clear:both; }
.billing .form-input-full input {padding:2px; width:55%!important; text-align:left; }
.billing .form-input-full select {padding:2px; width:58%!important; text-align:left;  }
.billing .form-input-full input.checkbox { }
.billing .form-input-2col {}
.billing .form-input-2col input {float:left; padding:3px; width:25%!important; text-align:left; margin-right:10px; }
.billing .form-input-2col select {float:left; padding:3px; width:26%!important; text-align:left; margin-right:10px; }
.billing .form-input-2col input.checkbox { }
.billing a.security-code {position:relative; top:6px; font-size:11px; color:#000; }
.billing a.security-code:hover {text-decoration:underline; }
.billing .whatiscvv {
  background: url("../img/cvv2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 0;
  right: -50px;
  bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 179px;
  z-index: 9999;
}
.billing #CC_CVV {
}
.billing .cvv-help {
  position: relative;
  top: 5px;
  color: #444040; 
  font-size: 11px;
}
.billing .form-button {
    display: block;
    padding: 0px!important;
    float: none!important;
    width: 300px!important; 
    height: 72px; 
    background: url('../img/form-button.png');
    border: none;
    margin: 50px auto 0px auto!important;

}
.billing .form-button:hover {
    cursor: pointer;
    background-position:0 -72px;
}
.billing .form-button:focus {outline:0;}
.billing .form-button-shadow {width: 300px; height: 45px; background: url('../img/button-shadow.png') top center; }


/*  Button:Begin */
.billing .button {
    width: 355px; 
    height: 85px; 
    background: url('../img/button.png');
    border: none;
}
.billing .button:hover {
    cursor: pointer;
    background-position:0 -85px;
}
.billing .button:focus {outline:0;}
.billing .button-shadow {width: 355px; height: 45px; background: url('../img/button-shadow.png');position: relative; top: -6px; }

/*  Footer:Begin */
.footer {text-align: center; font-size: 12px; line-height: 14px;}
.footer a {color:#000; text-decoration: underline;}
.footer a:hover {color:#bb0056; }

/* Exit Pop */

#PopupOverlay {

    display: none;

    position: fixed;

    left: 0px; right: 0px;

    top: 0px; bottom: 0px;

    background-color: #000000;

    opacity:.75;

    z-index:5;

}

#PopupWindow {

    display: none;

    position: absolute;

    width: 600px; height: 400px;

    left: 50%; top: 50%;

    margin: -155px 0 0 -300px;

    border: solid 2px #cccccc;

    background-color: #ffffff;

    overflow-y:scroll;

    z-index:10;

}



#PopupWindow { overflow-y:scroll }


.CS_div1 {
cursor:pointer;
display: none;
position:fixed;
height:346px; 
width:410px;
margin:-200px 0px 0px -340px;
top: 50%; 
left: 50%;
text-align: left;
padding: 0px;
border: none;
z-index:2002;
}

.CS_black_overlay{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #000;
z-index:2001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}

input:required , select:required {
  box-shadow: none;
}

.redbar {background:#3ec000; height:60px; position:relative; display:none;}
.redbar-wrapper {width:1000px; margin:0 auto; text-align:left; position:relative;}
.redbar-text {position:absolute; width:1000px; text-align:center; padding-top:20px; font-size:15px; font-weight:bold; color:white;}
.button-processing {position: relative; text-align: center; margin: 30px auto;}





/*end of index css
  start of order css
*/



.order .order-block-01 {position:relative; height: 139px; background:url('../img/order_01.jpg') top center no-repeat;}
.order .order-block-02 {position:relative; background: #fff; padding: 10px 10px 150px 10px;}

.order .product-summary {position:relative; float:left;  width:605px;  height: 606px; background:url('../img/order_product_summary.jpg') top center no-repeat;}



.order .form-totals {position: relative; top: 13px; left: 13px; width: 600px; }
.order .product-description {position: absolute; top: 100px; left: 300px; color:#bb0056; font-size: 16px; line-height: 18px;}
.order .sub-description {font-size: 12px; color:#545454; }
.order .product-price {position: absolute; top: 130px; right: 35px;}
.order .summary-titles {position: absolute; top: 264px; left: 0px; line-height: 34px;}
.order .summary-totals {position: absolute; top: 264px; right: 35px; line-height: 34px; text-align: right;}
.order .arrival-date {position: absolute; top: 440px; left: 9px; font-size: 12px; line-height: 14px; background:#ffff99;}
.order .terms {position:absolute; top: 590px; padding: 10px;  font-size: 12px; line-height: 14px; color: #8e8e8e;}

/*  Index Form:Begin */
.order .order-form-container {float:right; width:363px; z-index:999;}
.order .form-top {width:363px; height: 119px; background:url('../img/order_form_top.jpg') top center no-repeat;}
.order .form-middle {width:363px; background:url('../img/order_form_middle.jpg') top center repeat-y; padding: 30px 0px 0px 0px;}
.order .form-inner-container {padding: 20px;}
.order .form-bottom {width:363px; height: 119px; background:url('../img/order_form_bottom.jpg') top center no-repeat;}
.order .form-bottom p {padding:35px 30px 20px 80px; color:#fff; font-size: 12px; line-height: 16px; }
.order .error-block {background:#C80000; text-align:center; padding:5px; color:#fff; }
.order .error-block img {display:block; margin:5px auto;}
.order .error-block span {display:block; padding:5px;}
.order .form-title {margin:10px auto; padding-bottom:10px; border-bottom:1px dotted #959595; text-align:center; }
.order .cc-icons {margin:15px auto;}
.order .form-element { margin-bottom:2px; }
.order .form-element label {display:block; float:left; position:relative; top:2px; width:35%; text-align:right; margin-right:10px;}
.order .form-element .required {position:relative; top:-3px; color:#CC0000; font-size:11px; }
.order .form-input-full { width:100%; clear:both; }
.order .form-input-full input {padding:3px; width:55%; text-align:left; }
.order .form-input-full select {padding:3px; width:58%; text-align:left;  }
.order .form-input-full input.checkbox { }
.order .form-input-2col {}
.order .form-input-2col input {float:left; padding:3px; width:25%; text-align:left; margin-right:10px; }
.order .form-input-2col select {float:left; padding:3px; width:26%; text-align:left; margin-right:10px; }
.order .form-input-2col input.checkbox { }
.order a.security-code {position:relative; top:6px; font-size:11px; color:#000; }
.order a.security-code:hover {text-decoration:underline; }
.order .whatiscvv {
   background: url("../img/cvv2.gif") no-repeat scroll 0 0 transparent;
   bottom: 0;
   display: none;
   height: 708px;
   overflow: hidden;
   position: absolute;
   right: 163px;
   width: 179px;
   z-index: 9999;
}
.order #CC_CVV {
}
.order .cvv-help {
  position: relative;
  top: 5px;
  color: #444040; 
  font-size: 11px;
}
.order .form-button {
    display: block;
    padding: 0px!important;
    float: none!important;
    width: 300px!important; 
    height: 72px; 
    background: url('../img/form-button.png');
    border: none;
    margin: 50px auto 0px auto!important;

}
.order .form-button:hover {
    cursor: pointer;
    background-position:0 -72px;
}
.order .form-button:focus {outline:0;}
.order .form-button-shadow {width: 300px; height: 45px; background: url('../img/button-shadow.png') top center; }


/*  Button:Begin */
.order .button {
    width: 355px; 
    height: 85px; 
    background: url('../img/button.png');
    border: none;
}
.order .button:hover {
    cursor: pointer;
    background-position:0 -85px;
}
.order .button:focus {outline:0;}
.order .button-shadow {width: 355px; height: 45px; background: url('../img/button-shadow.png');position: relative; top: -6px; }


.order .button-processing {position: relative; text-align: center; margin: 30px auto;}

.order .form-input-full .ccv{
    width: 50px;
}


/*end of order css
  start of step css
*/


.step2 .order-block-01 {position:relative; height: 978px; background:url('../img/step2_order_01.jpg') top center no-repeat;}

.step2 .top-alert {position:absolute; top: 29px; left: 160px;  width: 890px;}

.step2 .order-summary {position: absolute; top: 220px; left: 224px; width: 430px; font-weight: bold; font-size: 16px; color: black;}
.step2 .discount-bar {background:#4bbe01; color: #fff; padding:10px; margin-bottom: 15px; text-align: center; font-weight: normal;}
.step2 .cart-contents {float: left;}
.step2 .cart-prices {float: right; text-align: right;}
.step2 .item-desc {font-size: 14px; font-weight: normal;}
.step2 .arrival-date {position: absolute; top: 550px; left: 189px; width: 441px; font-weight: bold; font-size: 13px; color: black; text-align: right;}
/*  Order Form:Begin */
.step2 .order-form-container {position:absolute; top:306px; right:-10px; width:290px; padding:10px;  z-index:999;}
.step2 .form-title {margin:10px auto; padding-bottom:10px; border-bottom:1px dotted #959595; }
.step2 .cc-icons {position: relative; right: 10px; margin:5px auto!important;}
.step2 .form-total {border-top: 1px dotted #bbb; padding: 15px; border-bottom: 1px dotted #bbb; margin:25px auto!important;}
.step2 .form-element { margin-bottom:1px; }
.step2 .form-element label {display:block; float:left; position:relative; top:2px; width:36%!important; text-align:right; margin-right:10px; color: black; font-weight: bold; font-size: 13px;}
.step2 .form-input-full { width:100%!important; clear:both; }
.step2 .form-input-full input {padding:2px; text-align:left; border: 1px solid #e3a8d5; }
.step2 .form-input-full select {padding:2px; width:58%!important; text-align:left; border: 1px solid #e3a8d5;  }
.step2 .form-input-full input.checkbox { }
.step2 .form-input-2col {}
.step2 .form-input-2col input {float:left; padding:3px; width:25%!important; text-align:left; margin-right:10px; border: 1px solid #e3a8d5; }
.step2 .form-input-2col select {float:left; padding:3px; width:26%!important; text-align:left; margin-right:10px; border: 1px solid #e3a8d5;  }
.step2 .form-input-2col input.checkbox { }
.step2 .form-button {cursor:pointer; position: relative; right: 10px; width: 296px; height: 96px; background: url(../img/button-rush-my-tiral.png) no-repeat; border: none; margin: 30px auto!important;}
.step2 a.security-code {position:relative; top:6px; font-size:11px; color:#000; }
.step2 a.security-code:hover {text-decoration:underline; }
.step2 .whatiscvv {
  background: url("../img/cvv2.gif") no-repeat scroll 0 0 transparent;
    bottom: 0;
    display: none;
    height: 417px;
    overflow: hidden;
    position: absolute;
    right: 120px;
    width: 179px;
    z-index: 9999;
}
.step2 #CC_CVV {
}
.step2 .cvv-help {
  position: relative;
  top: 5px;
  color: #444040; 
  font-size: 11px;
}

.step2 .disclaimer {position: absolute; top: 700px; left: 17px; width: 650px; text-align: justify; color: #999; font-size: 10px; line-height: 11px;}

.step2 .button-processing {position: relative; text-align: center; margin: 30px auto;}

.step2 .form-input-full .ccv{
    width: 50px;
}

.step2 #cc_number{
    width: 162px;
}


/*end of step css
  start of sucess css
*/

.success-block-01 {position:relative; height: 240px; background:url('../img/success_01.jpg') top center no-repeat;}
.success-block-01-content {position: absolute; top: 140px; padding:0px 30px; font-size: 16px; }
.success-block-02 img {cursor: pointer;}
